.form-inline-authentication {
    padding: 0px 15px;
}
.form-inline-authentication > .form-group {
    margin: 5px 0px;
}
.form-inline-authentication > .form-group > label {
    margin-right: 10px;
}
.form-inline-authentication > .form-group > input.form-control {
    width: 230px;
}
.button-container-authentication {
    width: 100%;
    margin-top: 5px;
    text-align: right;
    padding: 0px 15px;
}
