.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
  background-color: #39424b;
}

/*table-custom*/
.table-custom{
    background-color:#242f39;
}

.table-custom.table-striped> tbody > tr:nth-child(2n+1) > td, 
.table-custom.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#444b5e;
}

.table-custom > tbody > tr > td, 
.table-custom > tbody > tr > th, 
.table-custom > tfoot > tr > td, 
.table-custom > tfoot > tr > th, 
.table-custom > thead > tr > td, 
.table > thead > tr > th {
    border-top: none;
}

/*table-match*/
.table-match{
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.3);
}

.table-match.table-radiant.table-striped> tbody > tr:nth-child(2n+1) > td, 
.table-match.table-radiant.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #313d36;
}

.table-match.table-dire.table-striped> tbody > tr:nth-child(2n+1) > td, 
.table-match.table-dire.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #373037;
}

.table-match > thead > tr > th {
    border-bottom: none;
}

.table-match > thead{
    background-color:rgba(0,0,0,0.4);
}

.table-match > tbody > tr > td{
    vertical-align:middle;
}

.table-match > tbody > tr >td.item{
    padding:2px;text-align:center;
}

.table-match > tbody >tr > td.item > .item-detail-1 >div, 
.table-match > tbody >tr > td.item > .item-detail-2 >div{
    display:inline-block;
}

.table-ability > tbody > tr >td{
    padding:2px;text-align:center;
}

.table-ability{
    table-layout: fixed;
}

.table-ability > thead > tr > th{
    text-align:center;
}

/*table-schedule*/
.table-schedule.table-bordered,
.table-schedule.table-bordered > thead > tr > th,
.table-schedule.table-bordered > tbody > tr > th,
.table-schedule.table-bordered > tfoot > tr > th,
.table-schedule.table-bordered > thead > tr > td,
.table-schedule.table-bordered > tbody > tr > td,
.table-schedule.table-bordered > tfoot > tr > td {
   border: 1px solid #5f6471;
}

.table-schedule.table-striped> tbody > tr:nth-child(2n+1) > td, 
.table-schedule.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#333847;
}
.table-schedule.table-striped> tbody > tr:nth-child(2n+1) > td.round{
  background-color:#292E3A;
}
.table-schedule > thead{
  background: linear-gradient(to right, #232520, #272A30);
}