.modal-dialog-fixed-width-320 {
    width: 320px !important;
    margin: 90px auto 0px auto !important;
}
.modal-dialog-fixed-width-350 {
    width: 350px !important;
    margin: 90px auto 0px auto !important;
}
.modal-dialog-fixed-width-400 {
    width: 400px !important;
    margin: 90px auto 0px auto !important;
}
.modal-dialog-fixed-width-500 {
    width: 500px !important;
    margin: 35px auto 0px auto !important;
}
.modal-remove-padding-right {
    padding-right: 0px !important;
}
.modal-header-border-bottom-custom {
    margin: 0px 10px;
    border-bottom: 1px solid white;
    padding: 5px;
}
.modal-title-align-center {
    text-align: center;
}

.modal-content-custom{
    background-color: #292E3A;
    border: 1px solid transparent;
}