.pagination-custom > li > a, 
.pagination-custom > li > span{
    color: #5f6472;
    background-color: #292E3A;
    border: 1px solid #5f6472;

}
.pagination-custom > li > a:focus, 
.pagination-custom > li > a:hover, 
.pagination-custom > li > span:focus, 
.pagination-custom > li > span:hover {
    color: #e3e3e3 ;
    background-color: #35373f;
    border-color: #5f6472;
}
.pagination-custom > .disabled > a, 
.pagination-custom > .disabled > a:focus, 
.pagination-custom > .disabled > a:hover, 
.pagination-custom > .disabled > span, 
.pagination-custom > .disabled > span:focus, 
.pagination-custom > .disabled > span:hover {
    color: #5f6472;
    background-color: #292E3A;
    border: 1px solid #5f6472;
}

.pagination-custom > .active > a, 
.pagination-custom > .active > a:focus, 
.pagination-custom > .active > a:hover, 
.pagination-custom > .active > span, 
.pagination-custom > .active > span:focus, 
.pagination-custom > .active > span:hover{
    color: #D8D8D8;
    background : linear-gradient(to bottom, #a43827, #c64823);
    border-color: #CD5F51;
}