.table-custom{
    background-color:#242f39;
}

.table-custom.table-striped> tbody > tr:nth-child(2n+1) > td, 
.table-custom.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#363b49;
}

.table-match{
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.3);
}
.table-match.table-radiant.table-striped> tbody > tr:nth-child(2n+1) > td, 
.table-match.table-radiant.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #313d36;
}

.table-match.table-dire.table-striped> tbody > tr:nth-child(2n+1) > td, 
.table-match.table-dire.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #373037;
}

.table-match > thead > tr > th {
    border-bottom: none;
}

.table-match > thead{
    background-color:rgba(0,0,0,0.4);
}
.table-custom > tbody > tr > td, 
.table-custom > tbody > tr > th, 
.table-custom > tfoot > tr > td, 
.table-custom > tfoot > tr > th, 
.table-custom > thead > tr > td, 
.table > thead > tr > th {
    border-top: none;
}

.table-match > tbody > tr > td{
    vertical-align:middle;
}

.table-match > tbody > tr >td.item{
    padding:2px;text-align:center;
}

.table-match > tbody >tr > td.item > .item-detail-1 >div, 
.table-match > tbody >tr > td.item > .item-detail-2 >div{
    display:inline-block;
}

.table-hover.table-striped tbody tr:hover td, 
.table-hover.table-striped tbody tr:hover th {
  background-color: #39424b;
}

.table-ability > tbody > tr >td{
    padding:2px;text-align:center;
}

.table-ability{
    table-layout: fixed;
}

.table-ability > thead > tr > th{
    text-align:center;
}